.showFiles {
  margin: 0;
}

.showFiles:hover {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.calllog__row td {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
