.Button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}

.Button:hover {
  cursor: pointer;
}

.Button:active {
  background-color: black;
  color: #ddd;
  outline: none;
}
